/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import 'bootstrap';

 body{
   background-color: whitesmoke;
 }

 .title {
   text-align: center;
   font-size: large;
 }

 .header {
  text-align: center;
  font-size: small;
}

 .login-item {
  border: 1px;
  border-color: "gray";
  border-style: solid;
  border-radius: 1%;
  margin: 2%;
  padding: 1%;
  background-color: white;
 }

 .alert {
   text-align: center;
 }

 .full {
    min-height: 95vh;
 }

 .container {
   margin-left: 0;
 }

 .container.home {
  margin-left: auto;
 }

 .row {
   margin-top: 2%;
 }

 .col-3 {
    border: 0;
    border-right: 1px;
    border-color: black;
    border-style: solid;
    height: 100%;
    border-radius: 1%;
 }

 .card {
    margin: 2%;
    padding: 0;
 }

 .col-9 {
   width: 100%;
   justify-content: space-evenly;
   max-height: 90vh;
   overflow: auto;
 }

 .left {
   float: left;
 }

 .right {
   float: right;
 }